{% extends 'core/base.html' %}

{% block content %}
<h2 class="text-2xl font-semibold mb-4 mt-4">Active Goals</h2>
{% if active_goals %}
  <table class="min-w-full">
    <thead>
      <tr>
        <th class="py-2 ">Goal Name</th>
        <th class="py-2 pl-0">Target Amount</th>
        <th class="py-2 pl-0">Monthly Payment</th>
        <th class="py-2 pl-0">Target Date</th>
        <th class="py-2 pl-0">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for goal in active_goals %}
        <tr>
          <td class="py-2 pl-0 text-center">{{ goal.goal_name }}</td>
          <td class="py-2 pl-0 text-center">{{ goal.target_amount }} BYN</td>
          <td class="py-2 pl-0 text-center">{{ goal.monthly_payment }}</td>
          <td class="py-2 pl-0 text-center">{{ goal.target_date }}</td>
            <td class="py-2 pl-0 text-center">
            <a href="{% url 'accounts:edit_savings_goal' goal.id %}" class="text-blue-500 hover:underline">Edit</a>
            <form method="post" action="{% url 'accounts:delete_savings_goal' goal.id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="text-red-500 hover:underline ml-2">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No active goals</p>
{% endif %}
{% endblock %}